# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Logs
logs/

# Áudio temporário
output/*.wav

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# FFmpeg binário local
bin/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
**/terraform.tfvars
.terraform.lock.hcl
.tf
terraform.tfvars.example

# Resultados gerados
output/*
!output/.gitkeep